#main-content {
    max-width: 1200px; 
    margin: 0 auto; 
    padding-bottom: 40px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

.info-section {
    padding: 20px;
    
    border-radius: 10px; 
}

.info-section h2 {
    color: #333333; 
    font-size: 1.8em;
    margin-top: 0;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.info-section h3 {
    color: #333333;
    font-size: 1.4em;
    margin-top: 30px;
}

.example-image {
    height: 200px;
    border-radius: 5px;
}

/* --- EJEMPLOS DE MATEMÁTICAS --- */
.math-example, .math-result {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.math-example {
    background-color: #e0f7fa; 
    color: #00838f;
}

.math-result {
    color: #009688; 
    font-size: 1.1em;
}

.info-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.closing-note {
    background-color: #fffde7; /* Fondo amarillo muy claro para la nota */
    padding: 15px;
    border-left: 5px solid #ffcc80;
    border-radius: 4px;
    margin-top: 30px;
}

/* --- BOTÓN DE EJERCICIOS (FOOTER) --- */
.footer-bar {
    text-align: center;
    padding: 40px 0;
}

/* --- RESPONSIVE DESIGN (Para pantallas pequeñas) --- */
@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr; /* Una sola columna en móviles */
    }
    
    header h1 {
        font-size: 2em;
    }
    
    .main-logo {
        width: 80px;
    }

    .fraction-diagram {
        flex-direction: column;
    }

    .equal-sign {
        margin: 10px 0;
    }
}