body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #081f5c, #142a6f, #1f3683, #294297, #334eac);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out; 
}

#splash-screen.fade-out {
    opacity: 0;
    pointer-events: none; 
}

.splash-content {
    text-align: center;
}

.splash-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border: 40px solid #081F5C;
    border-radius: 50%;
}

.splash-text {
    color: #ffffff; 
    font-size: 2em;
    font-weight: bold;
}